.container {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #030386;
    color: white;
    border-radius: 5px;
    font-size: 1.4em;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0.5em ;

    cursor: pointer;
    color: white;
    accent-color: #ffa200;
}
