 

.selector {
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 0.3em;
}

.liste {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    width: 30%;
    border: 1px solid #030386;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.image {
    display: flex;
    align-items:center ;
    justify-content: center;
    padding: 0.5em;
    border-radius: 10px;
    height: 200px;
}

.image img {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: contain;

}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 1.2em;
    max-height: 5rem;
}

.price {
    color: rgb(255, 102, 0);
    font-size: 1.4em;
    font-weight: 700;
}

.cartButton {
    padding: 0.5em;
    font-size:1.3em;
    background-color: #030386;
    border: 0;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin: 0.5em;
}

.cartButton:hover {
    background-color: rgb(255, 115, 0);
}

.emptyCart {
    /* font-size: ; */
}

.pageButtons {
    display: flex;
    gap:0.2em;
    margin-top: 1em;
}

.pageButtons button {
    background-color: #030386;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.5s;
    border: 0;
}

.pageButtons button:hover {
    transform: scale(1.1);
    background-color: rgb(255, 123, 0);
}

.pageButtons button:disabled {
    background-color: orange;
}
