@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "AnekLatin";
  src: url("/Fonts/AnekLatin-VariableFont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  1rem;
    border: 1px solid rgb(204, 203, 203);
}

 
@theme {
  --color-primary: #493421;
  --color-secondary: #7A5230;
  --color-secondary-100: #8f6846;
  --color-tertiary: #FFF4E6;
  --color-promo: #F3E9DC;
  --color-promo2: #F6EDE1;
}

@layer base {
  body, input, button {
    font-family: 'AnekLatin', monospace;
  }

  ::placeholder {
    @apply text-secondary-100 text-sm
  }

  input {
    @apply border-1 rounded-lg p-2
  }

  a {
    color: var(--color-secondary);
  }

  nav a:hover, .active:hover {
    color: var(--color-primary);
    /* text-decoration: underline; */
    transition: 0.4s ease;
    transform: scale(1.1)
  }

  h2 {
    @apply text-4xl uppercase font-bold text-primary my-2
  }
}


@layer components {
  .btn {
    @apply flex items-center justify-center gap-2 px-6 py-2 bg-primary rounded-2xl text-2xl text-white font-medium 
    hover:cursor-pointer
  }

  .card {
    @apply bg-amber-100 flex items-center rounded-xl justify-center p-2 
  }

  .pageButtons {
  @apply flex gap-[0.2em] mt-4;
}

.pageButtons button {
  @apply bg-primary text-white px-4 py-2 rounded-md border-0 transition duration-500;
}

.pageButtons button:hover {
  @apply scale-110 border-1 bg-white text-primary;
}

.pageButtons button:disabled {
  @apply bg-[#F3E9DC] text-primary border-1;
}
}

@layer utilities {
  .active {
    /* color: red; */
    @apply bg-promo2 text-secondary p-3 rounded-xl flex justify-center items-center 
  }

  .shadow {
    box-shadow: 0 0 5px rgb(160, 160, 160);
  }

    .shadowHard {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.744);
  }
}