:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.component {
    margin: 1em auto;
    display: flex;
    max-width: 800px;
    /* max-height: 350px; */
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* width: 688px; */
    /* background-color: aqua; */
    overflow: hidden;   
}

.cardsSlider {
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding: 0.5em;
    transition: transform 0.5s ease;
    will-change: transform;
}

.card {
    flex: 0 0 calc((100% - 2 * 0.5em) / 3);  
    box-sizing: border-box;
    /* max-height: 300px; */
    padding: 0.5em 1em;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    list-style: none;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.cardImg {
    height: 200px;
    width: 100%;
}

.cardImg img {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: contain; 
    height: 100%;
    object-position: center;
}

.cardTitle {
    font-size: 0.8rem;
    text-align: center;
}